body {


    font-family: 'Kanit', sans-serif;
    margin: 0%;

}

.akram-color {

    color: tomato;

}

h1 {

    font-size: 300%;
    color: rgb(157, 37, 37);


}

.h3 {


    color: rebeccapurple;
}

.flexable-container {

    display: flex;

}



.half {
    width: 50%;
    padding-left: 2%;
    text-align: justify;

}

.half2 img {
    width: 70%;
    margin: 2%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, orange, tomato);
    padding: 8px 30px;
    border-radius: 10px;
    color: black;
    font-weight: 700;


}

.sec1 {



    background-repeat: no-repeat;

    background-image: url(images/b35dc66c67afbb9942bf53cb01e92c7d.jpg);
    background-position: 5%;
}

.sec2 {

    background: no-repeat;
    background-image: url(images/4-45002_multi-colors-in-circle-png-image-colorful-circle.png);
    background-position: 150%;
    background-color: rgb(249, 250, 253);


}

.half {


    width: 50%;
    padding-right: 2%;
    text-align: justify;

}

.half img {

    width: 80%;
}

h2 {
    color: rebeccapurple;
}

.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(red, orange, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: black;
    font-weight: 700;

}

.sec3 {


    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}

.half1 {


    box-shadow: 10px 20px 30px rgb(144, 51, 51);
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 50px;

    padding-left: 20px;

    border-radius: 5px;
    border-left: 7px solid rgb(34, 3, 93);


}

h2 {
    font-size: 200%;
    color: black;
}

.a {


    text-align: center;
}