body {


    font-family: 'Kanit', sans-serif;
    margin: 0%;

}

.akram-color {

    color: tomato;

}

h1 {

    font-size: 300%;


}

.h3 {


    color: rebeccapurple;
}

section {

    display: flex;

}



.half {
    width: 50%;
    padding-left: 2%;
    text-align: justify;
}

.half img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, orange, tomato);
    padding: 8px 30px;
    border-radius: 10px;
    color: black;
    font-weight: 700;


}

.sec1 {


    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}