body {


    font-family: 'Kanit', sans-serif;
    margin: 0%;

}

.akram-color {

    color: tomato;

}

h1 {

    font-size: 300%;


}

.h3 {


    color: rebeccapurple;
}

section {

    display: flex;

}



.half {
    width: 50%;
    padding-left: 2%;
    text-align: justify;

}

.half img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, orange, tomato);
    padding: 8px 30px;
    border-radius: 10px;
    color: black;
    font-weight: 700;


}

.sec1 {



    background-repeat: no-repeat;

    background-image: url(images/b35dc66c67afbb9942bf53cb01e92c7d.jpg);



}

.sec2 {

    background: no-repeat;
    background-image: url(images/4-45002_multi-colors-in-circle-png-image-colorful-circle.png);
    background-position: 150%;
    background-color: rgb(249, 250, 253);


}

.half2 {


    width: 50%;
    padding-right: 2%;
    text-align: justify;

}

.half2 img {

    width: 70%;
}

h2 {
    color: rebeccapurple;
}

.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(red, orange, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: black;
    font-weight: 700;

}